#h1_1 {
  color: darkorange;
  text-align: center;
  background-color: black;
  font-size: 10vh;
}
#h1_2 {
  color: orange;
}
html {
  background-color: #303030;
}
details {
  color: #FF7F24;
}
label {
  color: white;
}
p {
  color: orange;
  font-size: 1.5vh;
}
body {
  background-image: url('teokopf.png');
  background-size: cover;
}
table {
color: orange;
}
#td_1 {
  color: darkorange;
}